  <div id="hp-title-login">
    登録・ログイン<br>
    
    <ul class="social-login">
      <li>
        <a href="#">
          <div id="social-login-list">
  	      <%= image_tag 'system_logo_facebook.png', size: '30x30' %>
  	      Facebook
          </div>
        </a> 
      </li>
      <li>
        <a href="#">
          <div id="social-login-list">
  	      <%= image_tag 'system_logo_twitter.png', size: '30x30' %>
  	      Twitter
          </div>
        </a> 
      </li>
      <li>
        <a href="#">
          <div id="social-login-list">
  	      <%= image_tag 'system_logo_google.png', size: '30x30' %>
  	      Google
          </div>
        </a> 
      </li>
    </ul>
    
    <ul id="mail-login">
      <li> <a href="#"> メールアドレスでこのサイトに登録 </a></li>
      <li> <a href="#"> メールアドレスでログイン </a></li>
    </ul>
    
  </div>
  
